.row-area{
    padding: 0px 0px 20% 0px;
}

.form-create-event{
    padding: 0px 20px;
}

.form-update-event {
    padding: 10px 0px;  
}

.box-image-preview{
    height: auto !important;
    max-height: 200px;
    max-width: 100%;
    width: auto;
    margin: 20px auto;
}

.button-tab-area{
    text-align: center;
    margin: 0px 0px 15px 0px;
}
.button-tab{
    width: 130px;
}
.button-submit-area{
    display: block;
    text-align: center;
    margin: 30px 10px 30px 10px;
}
.button-submit{
    width: 100px;
}

.box-button-control-area{
    display: block;
    text-align: center;
    margin: 50px 0px 50px 0px;
}

.button-crop-control{
    width: 100px;
    margin: 0px 10px 10px 10px;
    background-color: #555555;
    border-color: #2b2b2b;
}

.button-crop-control:hover{
    background-color: #888888;
    border-color: #2b2b2b;
}