@media screen and (min-width: 1201px) and (max-width: 3000px){
    .nav>li>a {
        padding: 16px 20px;
        font-size: 16px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px){
    .nav>li>a {
        padding: 16px 7px;
        font-size: 13px;
    }
}

.brand-custom{
    font-size: 4em;
    padding: 10px 0 10px;
}

.nav-custom-header{
    margin-bottom: 0px;
}

.navbar-collapse{
    border: none;
}

.navbar-inverse .navbar-toggle {
    //border-color: #ddd;
}