
.form-create-message{
    padding: 0px 20px;
}

.form-update-message {
    padding: 10px 0px;
}

.box-image-preview{
    height: auto !important;
    max-height: 200px;
    max-width: 100%;
    width: auto;
}

.button-tab-area{
    text-align: center;
    margin: 0px 0px 15px 0px;
}
.button-tab{
    width: 130px;
}