.person-image{
    margin-right: auto;
    margin-left: auto;
}

.avatar-edit{
    border-radius: 10% !important;
    margin: 0px 0px 20px 0px !important;
}

.edit-title{
    text-align: center !important;
}