<div class="modal fade">
    <div class="modal-dialog modal-lg message-modal-dialog">
        <div class="modal-content message-modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <!--<h4 class="modal-title">{{title}}</h4>-->
            </div>
            <div class="container">
                <!-- Projects Row -->
                <div class="row">
                    <div class="col-md-3 portfolio-item">
                        <a href="#">
                            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                        </a>
                    </div>
                    <div class="col-md-3 portfolio-item">
                        <a href="#">
                            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                        </a>
                    </div>
                    <div class="col-md-3 portfolio-item">
                        <a href="#">
                            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                        </a>
                    </div>
                    <div class="col-md-3 portfolio-item">
                        <a href="#">
                            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                        </a>
                    </div>
                </div>
                <!-- /.row -->

                <!-- Projects Row -->
                <div class="row">
                    <div class="col-md-3 portfolio-item">
                        <a href="#">
                            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                        </a>
                    </div>
                    <div class="col-md-3 portfolio-item">
                        <a href="#">
                            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                        </a>
                    </div>
                    <div class="col-md-3 portfolio-item">
                        <a href="#">
                            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                        </a>
                    </div>
                    <div class="col-md-3 portfolio-item">
                        <a href="#">
                            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                        </a>
                    </div>
                </div>
                <!-- /.row -->

                <!-- Projects Row -->
                <div class="row">
                    <div class="col-md-3 portfolio-item">
                        <a href="#">
                            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                        </a>
                    </div>
                    <div class="col-md-3 portfolio-item">
                        <a href="#">
                            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                        </a>
                    </div>
                    <div class="col-md-3 portfolio-item">
                        <a href="#">
                            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                        </a>
                    </div>
                    <div class="col-md-3 portfolio-item">
                        <a href="#">
                            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                        </a>
                    </div>
                </div>
                <!-- /.row -->

                <hr>

                <!-- Pagination -->
                <div class="row text-center">
                    <div class="col-lg-12">
                        <ul class="pagination">
                            <li>
                                <a href="#">&laquo;</a>
                            </li>
                            <li class="active">
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                            <li>
                                <a href="#">5</a>
                            </li>
                            <li>
                                <a href="#">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">OK</button>
                <button type="button" ng-click="cancel()" class="btn">Cancel</button>
            </div>
        </div>
    </div>
</div>