<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <span class="unity-name-page">Mural Estaca Mauá</span>
            <hr>
            <h2 class="intro-text text-center">
                {{tabTitle}}
            </h2>
            <hr>
        </div>
    </div>
    <div class="button-tab-area">
        <button class="btn btn-primary button-tab" ng-click="changeTab()" >{{buttonTitle}}</button>
    </div>
</div>


<div class="row row-area" ng-if="!showTabEvents">
    <!--Take from: http://v4-alpha.getbootstrap.com/components/forms/-->
    <form class="form-create-event">
        <fieldset class="form-group">
            <label>Evento</label>
            <input type="text" class="form-control" ng-model="event.title" maxlength="30">
        </fieldset>
        <fieldset class="form-group">
            <label>Local</label>
            <input type="text" class="form-control" ng-model="event.place">
        </fieldset>
        <fieldset class="form-group">
            <label>Descrição:</label>
            <input type="text" class="form-control" ng-model="event.description">
        </fieldset>
        <fieldset class="form-group">
            <label>Data:</label>
            <input type="date" class="form-control" ng-model="event.date">
        </fieldset>
        <fieldset class="form-group">
            <label>horário:</label>
            <input type="text" masktime="masktime" maxlength="5" placeholder="Exemplo: 09:30" class="form-control" ng-model="event.time">
        </fieldset>
        <fieldset class="form-group">
            <label>Exibição:</label>
            <select class="form-control" ng-model="event.display"
                    ng-options="s.value as s.text for s in listDisplay">
                <option value="" selected>Selecione</option>
            </select>
        </fieldset>
        <fieldset class="form-group">
            <label for="exampleInputEmail1">Imagem</label>
            <input class="form-control" type="file" name="fileInput" id="fileInput" onchange="angular.element(this).scope().fileChanged(event)" />
            <small class="text-muted">A imagem deve ter 300 x 180 px.</small>
            <small class="text-muted">Ou ajuste a imagem após escolhe-la.</small>
            <!--<input type="file" fileread="fileread" class="form-control" id="exampleInputEmail1">-->
        </fieldset>

        <fieldset class="form-group" ng-if="event.image">
            <!--<label for="exampleInputEmail1">Visualizador</label>-->
            <img class="form-control box-image-preview" id="exampleInputEmail1" ng-src="{{event.image}}">
        </fieldset>

        <div class="button-submit-area">
            <button type="submit" class="btn btn-primary button-submit" ng-click="registerEvent(event)">
                Criar
            </button>
        </div>

        <div ng-show="imageCropStep == 2">
            <image-crop
                    data-height="180" data-width="300"
                    data-shape="square" data-step="imageCropStep" src="imgSrc" data-result="event.image"
                    crop="initCrop" padding="50" max-size="1024">
            </image-crop>
        </div>

        <div ng-show="imageCropStep == 2">
            <div class="box-button-control-area">
                <button class="btn btn-primary button-crop-control" ng-click="cropImage()">Cortar</button>
                <button class="btn btn-primary button-crop-control" ng-click="clearImageCrop()">Cancelar</button>
            </div>
        </div>
        <!--<button class="btn btn-primary" ng-click="uploadImage(fileread)">
            Testar imagem
        </button>-->

    </form>
</div>

<div class="row row-area" ng-if="showTabEvents">
    <div class="box">
        <div class="col-lg-12">
            <div class="list-group" ng-repeat="event in listEvent track by $index">
                <a class="list-group-item" ng-click="openEvent($index)">
                    <h4 class="list-group-item-heading">{{event.title}}</h4>
                    <span class="list-group-item-text" ng-if="event.dateShow===event.date">{{event.dateShow}}</span>
                    <span ng-if="event.display=='banner'" style="color: red">Banner</span>
                </a>

                <!--Take from: http://v4-alpha.getbootstrap.com/components/forms/-->
                <form class="form-update-event" ng-if="showEvent == $index">
                    <fieldset class="form-group">
                        <label>Evento</label>
                        <input type="text" class="form-control" ng-model="event.title" maxlength="30">
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Local</label>
                        <input type="text" class="form-control" ng-model="event.place">
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Descrição:</label>
                        <input type="text" class="form-control" ng-model="event.description">
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Data:</label>
                        <input type="date" class="form-control" ng-model="event.date">
                    </fieldset>
                    <fieldset class="form-group">
                        <label>horário:</label>
                        <input type="text" class="form-control" masktime="" placeholder="Exemplo: 09:30" maxlength="5" ng-model="event.time">
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Exibição:</label>
                        <select class="form-control" ng-model="event.display"
                                ng-options="s.value as s.text for s in listDisplay">
                            <option value="" selected>Selecione</option>
                        </select>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="exampleInputEmail1">Imagem</label>
                        <input class="form-control" type="file" name="fileInput" id="fileInput" onchange="angular.element(this).scope().fileChanged(event)" />
                        <small class="text-muted">A imagem deve ter 300 x 180 px.</small>
                        <small class="text-muted">Ou ajuste a imagem após escolhe-la.</small>
                        <!--<input type="file" fileread="fileread" class="form-control" id="exampleInputEmail1">-->
                    </fieldset>

                    <fieldset class="form-group" ng-if="event.image">
                        <!--<label for="exampleInputEmail1">Visualizador</label>-->
                        <img class="form-control box-image-preview" ng-src="{{event.image}}">
                    </fieldset>

                    <div class="button-submit-area">
                        <button type="submit" class="btn btn-primary button-submit" ng-click="registerEvent(event)">
                            Atualizar
                        </button>
                        <a class="btn btn-danger button-delete">
                            <i class="icon-trash icon-white"></i>
                            Excluir
                        </a>
                    </div>

                    <div ng-show="imageCropStep == 2">
                        <image-crop
                                data-height="180" data-width="300" type="jpg"
                                data-shape="square" data-step="imageCropStep" src="imgSrc" data-result="event.image"
                                crop="initCrop" padding="100" max-size="300">
                        </image-crop>
                    </div>

                    <div ng-show="imageCropStep == 2">
                        <div class="box-button-control-area">
                            <button class="btn btn-primary button-crop-control" ng-click="cropImage()">Cortar</button>
                            <button class="btn btn-primary button-crop-control" ng-click="clearImageCrop()">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--<div class="row">
    <button ng-click="showComplex()">Modal</button>
</div>-->


