
<div class="brand brand-custom">Mural SUD</div>
<!-- Endereço da empresa ou subtitulo do site -->

<!-- Navigation -->
<nav class="navbar navbar-default nav-custom-header" role="navigation" ng-controller="HeaderCtrl">
    <div class="container">
        <!-- aparecerá somente em dispositivos mobile -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-if="showMenu"
                    data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Nome da empresa ou titulo do site para os dispositivos mobile -->
            <a class="navbar-brand">Mural SUD</a>
        </div>
        <!-- nossos menu -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" ng-if="showMenu">
                <!-- cada linha é um item do menu -->
                <li><a href="#/home">Início</a></li>
                <li><a href="#/messages">Mensagens</a></li>
                <li><a href="#/people">Pessoas</a></li>
                <li><a href="#/sobre">Sobre</a></li>
                <li><a ng-click="logout()">Sair</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>