<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                {{tabTitle}}
            </h2>
            <hr>
        </div>
    </div>
    <div class="button-tab-area">
        <button class="btn btn-primary button-tab" ng-click="changeTab()" >{{buttonTitle}}</button>
    </div>
</div>


<div class="row" ng-if="!showTabMessages">
    <!--Take from: http://v4-alpha.getbootstrap.com/components/forms/-->
    <form class="form-create-message">
        <fieldset class="form-group">
            <label for="exampleInputEmail1">Título da mensagem</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" ng-model="data.title">
            <!--<small class="text-muted">We'll never share your email with anyone else.</small>-->
        </fieldset>
        <fieldset class="form-group">
            <label for="exampleTextarea">Mensagem</label>
            <textarea class="form-control" id="exampleTextarea" rows="6" ng-model="data.text"></textarea>
        </fieldset>

        <fieldset class="form-group">
            <label for="exampleInputEmail1">Imagem</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="URL" ng-model="data.image">
            <a class="link-create-url" href="http://tinypic.com/" target="_blank">Crie uma URL da sua imagem!</a>
            <small class="text-muted"> Em seguida cole a URL no campo acima.</small>
        </fieldset>

        <fieldset class="form-group">
            <label for="exampleInputEmail1">Visualizador</label>
            <img class="form-control box-image-preview" id="exampleInputEmail1" ng-src="{{data.image}}">
        </fieldset>

        <fieldset class="form-group">
            <label>Pessoa:</label>
            <select class="form-control" ng-model="data.personUrlSafe"
                    ng-options="p.personUrlSafe as p.exibitionName for p in peopleList">
                <option value="" selected>Selecione uma pessoa relacionada</option>
            </select>
        </fieldset>

        <fieldset class="form-group">
            <label>Status:</label>
            <select class="form-control" ng-model="data.status"
                    ng-options="s.value as s.text for s in listStatus">
                <option value="" selected>Selcione</option>
            </select>
        </fieldset>

        <button type="submit" class="btn btn-primary" ng-click="registerMessage(data)">
            Criar
        </button>
    </form>
</div>

<div class="row" ng-if="showTabMessages">
    <div class="box">
        <div class="col-lg-12">
            <div class="list-group" ng-repeat="message in listMessage track by $index">
                <a class="list-group-item" ng-click="openMessage($index)">
                    <h4 class="list-group-item-heading">{{message.title}}</h4>
                    <p class="list-group-item-text">List Group Item Text</p>
                </a>

                <!--Take from: http://v4-alpha.getbootstrap.com/components/forms/-->
                <form class="form-update-message" ng-if="showMessage == $index">
                    <fieldset class="form-group">
                        <label for="exampleInputEmail1">Título da mensagem</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" ng-model="message.title">
                        <!--<small class="text-muted">We'll never share your email with anyone else.</small>-->
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="exampleTextarea">Mensagem</label>
                        <textarea class="form-control" id="exampleTextarea" rows="6" ng-model="message.text"></textarea>
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="exampleInputEmail1">Imagem</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="URL" ng-model="message.image">
                        <a class="link-create-url" href="http://tinypic.com/" target="_blank">Crie uma URL da sua imagem!</a>
                        <small class="text-muted"> Em seguida cole a URL no campo acima.</small>
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="exampleInputEmail1">Visualizador</label>
                        <img class="form-control box-image-preview" id="exampleInputEmail1" ng-src="{{message.image}}">
                    </fieldset>

                    <fieldset class="form-group">
                        <label>Pessoa:</label>
                        <select class="form-control" ng-model="message.personUrlSafe"
                                ng-options="p.personUrlSafe as p.exibitionName for p in peopleList">
                            <option value="" selected>Selecione uma pessoa relacionada</option>
                        </select>
                    </fieldset>

                    <fieldset class="form-group">
                        <label>Status:</label>
                        <select class="form-control" ng-model="message.status"
                                ng-options="s.value as s.text for s in listStatus">
                            <option value="" selected>Selecione</option>
                        </select>
                    </fieldset>

                    <button type="submit" class="btn btn-primary" ng-click="registerMessage(data)">
                        Atualizar
                    </button>
                </form>
            </div>
        </div>
    </div>


</div>
