<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <span class="unity-name-page">Mural Estaca Mauá</span>
            <hr>
            <h2 class="intro-text text-center">
                Missionários
            </h2>
            <hr>
        </div>
    </div>
    <div class="button-tab-area">
        <button class="btn btn-primary button-tab" ng-click="goToNewMissionary()" >Novo missionário</button>
    </div>
</div>

<div class="row" ng-if="showList">
    <div class="container">
        <div id="products" class="row list-group">
            <div class="item  col-xs-12 col-lg-12" ng-repeat="missionary in listMissionary" ng-click="goToMissionaryDetail(missionary)">
                <div class="thumbnail list-item">
                    <img class="group list-group-image image-person-list" ng-src="{{missionary.image}}" alt="" />
                    <div class="caption user-info-list">
                        <h4 class="group inner list-group-item-heading">{{missionary.exibitionName}}</h4>
                        <p class="group inner list-group-item-text">
                            {{missionary.unityName}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="!showList">
    <div class="container">
        <h1 class="edit-title">Informações</h1>
        <hr>
        <div class="row">
            <!-- left column -->
            <div class="col-md-3">
                <div class="text-center" ng-if="data.image">
                    <img ng-src="{{data.image}}" class="avatar img-circle avatar-edit" alt="avatar">

                    <!--<input type="text" class="form-control" ng-model="data.image">-->
                </div>
                <!--<a class="link-create-url" href="http://tinypic.com/" target="_blank">Crie uma URL da sua imagem!</a>
                <small class="text-muted"> Em seguida cole a URL no campo acima.</small>-->

                <fieldset class="form-group">
                    <label for="exampleInputEmail1">Imagem</label>
                    <input class="form-control" type="file" name="fileInput" id="fileInput" onchange="angular.element(this).scope().fileChanged(event)" />
                    <small class="text-muted">A imagem deve ter 120 x 100 px.</small>
                    <small class="text-muted">Ou ajuste a imagem após escolhe-la.</small>
                    <!--<input type="file" fileread="fileread" class="form-control" id="exampleInputEmail1">-->
                </fieldset>

                <div ng-show="imageCropStep == 2">
                    <image-crop
                            data-height="120" data-width="100" type="jpg"
                            data-shape="square" data-step="imageCropStep" src="imgSrc" data-result="data.image"
                            crop="initCrop" padding="50" max-size="200">
                    </image-crop>
                </div>

                <div ng-show="imageCropStep == 2">
                    <div class="box-button-control-area">
                        <button class="btn btn-primary button-crop-control" ng-click="cropImage()">Cortar</button>
                        <button class="btn btn-primary button-crop-control" ng-click="clearImageCrop()">Cancelar</button>
                    </div>
                </div>

            </div>

            <!-- edit form column -->
            <div class="col-md-9 personal-info">

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Primeiro nome:</label>
                        <div class="col-lg-8">
                            <input class="form-control" ng-model="data.firstname" type="text" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Sobrenome:</label>
                        <div class="col-lg-8">
                            <input class="form-control" ng-model="data.lastname" type="text" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Nome de exibição:</label>
                        <div class="col-lg-8">
                            <input class="form-control" ng-model="data.exibitionName" type="text" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Ala:</label>
                        <div class="col-lg-8">
                            <select class="form-control" ng-model="data.unityName"
                                    ng-options="u as u for u in listUnity">
                                <option value="" selected>Selecione </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Missão:</label>
                        <div class="col-lg-8">
                            <input class="form-control" ng-model="data.mission" type="text" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Email:</label>
                        <div class="col-lg-8">
                            <input class="form-control" ng-model="data.email" type="text" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Endereço:</label>
                        <div class="col-lg-8">
                            <input class="form-control" ng-model="data.address" type="text" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Tempo de serviço:</label>
                        <div class="col-lg-8">
                            <input class="form-control" ng-model="data.period_serving" type="text" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <input type="button" class="btn btn-primary" ng-click="registerMissionary(data)" value="Enviar">
                            <span></span>
                            <input type="reset" class="btn btn-default" ng-click="returnToList()" value="Voltar">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr>
</div>
