<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <span class="unity-name-page">Mural Estaca Mauá</span>
            <hr>
            <h2 class="intro-text text-center">Contatos do desenvolvedor</h2>
            <hr>
        </div>
    </div>
</div>

<div class="row">
    <div class="box">
        <ul class="links links-contact">
            <a class="btn btn-lg btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/evertonfatecit" target="_blank">
                <span class="fa fa-linkedin"></span>
            </a>
            <a class="btn btn-lg btn-social-icon btn-facebook" href="https://www.facebook.com/everton.decastro.12" target="_blank">
                <span class="fa fa-facebook"></span>
            </a>
            <a class="btn btn-lg btn-social-icon btn-twitter" href="https://twitter.com/evertonmbh" target="_blank">
                <span class="fa fa-twitter"></span>
            </a>
            <a class="btn btn-lg btn-social-icon btn-github" href="https://github.com/evertoncastro" target="_blank">
                <span class="fa fa-github"></span>
            </a>
        </ul>

    </div>
</div>